
:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Sans JP", sans-serif;
  
  /* Colors */
  --black: #000000;
  --dark-gray: #333333;
  --medium-gray-black: #666666;
  --medium-gray-white: #999999;
  --light-gray: #CCCCCC;
  --white: #FFFFFF;
}